BasedOnStyle: Google

IndentWidth: 2
ConstructorInitializerIndentWidth: 2
ContinuationIndentWidth: 2
PPIndentWidth: 2

AlignAfterOpenBracket: BlockIndent

BinPackArguments: false
BinPackParameters: false

AllowAllParametersOfDeclarationOnNextLine: true

DerivePointerAlignment: false
PointerAlignment: Left

IndentPPDirectives: AfterHash

Cpp11BracedListStyle: false
